<section class="home-grid">
  <section id="hero-box">
    <h1>Welcome to CSE Motors!</h1>
    <div class="hero">
      <h2>DMC Delorean</h2>
      <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy Dice!</li>
        <li>
          <button>
            <img src="images/site/own_today.png" alt="Own today button" />
          </button>
        </li>
      </ul>
      <picture>
        <source srcset="images/vehicles/delorean-tn.jpg" media="(max-width: 600px)"/>
        <img src="images/vehicles/delorean.jpg" alt="Delorean vehicle"/>
      </picture>
    </div>
  </section>
  <section class="upgrades" id="upgrades-card">
    <h3>Delorean Upgrades</h3>
    <ul>
      <li>
        <a href="" class="flux">
          <div class="icon-container">
            <img id="flux-icon" src="images/upgrades/flux-cap.png" alt="Flux Capacitor Icon"/>
          </div>
          Flux Capacitor
        </a>
      </li>
      <li>
        <a href="" class="flame">
          <div class="icon-container">
            <img id="flame-icon" src="images/upgrades/flame.jpg" alt="Flame Decals Icon"/>
          </div>
          Flame Decals
        </a>
      </li>
      <li>
        <a href="" class="bumper">
          <div class="icon-container">
            <img id="bumper-icon" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers Icon"/>
          </div>
          Bumper Stickers
        </a>
      </li>
      <li>
        <a href="" class="hub-caps">
          <div class="icon-container">
            <img id="hub-icon" src="images/upgrades/hub-cap.jpg" alt="Hub Caps Icon"/>
          </div>
          Hub Caps
        </a>
      </li>
    </ul>
  </section>
  <section class="reviews" id="reviews-card">
    <h4>DMC Delorean Reviews</h4>
    <ul>
      <li>"So fast, it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
</section>