<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  
  <p>
    Oops! Something went wrong!
  </p>
  
  <%- message %>
  
  <p>
    While you're here, why not head back to the <a href="/">homepage</a> or check out our <a href="/inv">inventory</a>?
  </p>
  
  <p>
    Fun Fact: The developer responsible for this error probably needs sleep 💤
  </p>
  